@use "barvy";


@media screen and (min-width: 890px)   {


    .header	{ 
        display:flex;
        align-content: center;
        background: barvy.$color-box;
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 1;
        top: 0;
        justify-content: center;
    }
}

@media screen and (min-width: 580px) and (max-width: 890px) {


	.header	{ 
		display:flex;
		align-content: center;
		background: barvy.$color-box;
		position: fixed;
		width: 100%;
		height: 100px;
		z-index: 1;
		top: 0;
		justify-content:center;

	
	}
	


}