@use "barvy";


.action-text{
	margin-left: auto;
	margin-right: auto;
	line-height:2;
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
}

.action-log{
    color: barvy.$color-button;
    padding-top:10px ;
    text-decoration: none;
    border: 1px solid barvy.$color-button;
    padding: 10px;
    border-radius: 10px;
    color: barvy.$color-secondary;
    background-color: barvy.$color-button;
    width: 150px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}
.action-log:hover{
    border: 1px solid barvy.$color-hover;
    padding: 10px;
    border-radius: 10px;
    color:barvy.$color-secondary;
    background-color:barvy.$color-hover
}

.map {
	padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.headline{
    margin-bottom: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 890px) {
 
    .action-text p{
        height: auto;
        text-align: center;	
        display:block ;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }

    .map iframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        max-width: 500px;
    }

}

@media screen and (min-width: 890px)   {

    .action {display: flex;
        gap: 70px;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .action-text p{
        width: 500px;
        height: auto;
        text-align: left;	
    }
    

}