@use "barvy";

.contact-headline{
	color:barvy.$color-hover;
    margin-top: 0;
}

.form-field { 
	margin-bottom: 10px;
}
	
.form-field label {
	display: block;
	color: barvy.$color-primary;
	font-size: 15px;
	margin-bottom: 15px;
}
	
.form-field :is(input, textarea, select) {
	width: 100%;
    padding: 20px;
	border: 1px solid barvy.$color-button;
	border-radius: 4px;
	max-width: 500px
}

.required:after {
	content: "*";
	color: barvy.$color-alarm;
	margin-left: 4px;
}

.button	{
	border: 1px solid barvy.$color-button;
	padding: 10px;
	border-radius: 10px;
	color: barvy.$color-secondary;
	background-color: barvy.$color-button;
    width: 150px;
}


.button:hover{
	border: 1px solid barvy.$color-hover;
	padding: 10px;
	border-radius: 10px;
	color: barvy.$color-secondary;
	background-color:barvy.$color-hover
}



@media screen and (max-width: 580px) {

.contact__grid-text {
        max-width: 450px
}	
.contact{
    margin-left: auto;
    margin-right: auto;	
    max-width: 700px;
}
    

}

@media screen and (min-width: 580px) and (max-width: 890px) {

    .contact__grid-text {
        max-width: 450px
    }	
    .contact{
        margin-left: auto;
        margin-right: auto;	
        max-width: 700px;
    }

 }

 @media screen  and (min-width: 890px) {

    .contact__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    
    }
        
    .contact__grid-text {
        max-width: 550px;
    }

    .contact{
        margin-left: auto;
        margin-right: auto;	
        max-width: 1200px;
    }

    .contact-title{
        margin: 0;
    }
}
