@use "barvy";


.food-text{
 	color:barvy.$color-secondary;
 	margin-left: auto;
     margin-right: auto;
    text-align: center;
 	padding-top: 100px;
	max-width: 500px;
}

.food-headline{
	color:barvy.$color-secondary;
	margin-left: auto;
    margin-right: auto;
 	text-align: center;
 	padding-top: 100px;
 }


 @media screen and (max-width: 580px) {
 
     .food-section{	
        background-image: url("/img/clanek_jidlo/cover_jidlo.svg");
         background-size: cover;
         height: 400px;
         margin-top: 30px;
         background-position: center;
        max-width: 580px;
         margin-bottom: 30px;
         background-repeat: no-repeat;
     } 
     
     }



    
 @media screen and (min-width: 580px) and (max-width: 890px) { 


 	.food-section{	
 		background-image: url("/img/clanek_jidlo/cover_jidlo.svg");
 		background-size: cover;
		height: 400px;
 		margin-top: 30px;
 		background-position: center;
		width: 790px;
		margin-bottom: 30px;
 		background-repeat: no-repeat;
 	} 

  }

  @media screen and (min-width: 890px)   { 

     .food-section{	
         background-image: url("/img/clanek_jidlo/cover_jidlo.svg");
        background-size: 100%;
        height: 400px;
        margin-bottom: 50px;
        margin-top: 30px;
        width: 100%;
        background-repeat: no-repeat;     } 

 }